@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}

.max-gap{
    gap : max(12vw,20px)
}

/* .child{
    display: none;
}

.parent:hover .child{
    display: flex;
    flex-direction: column;
    gap: 2rem;
} */

}